{% comment %} List of cart items with images, titles, and prices {% endcomment %}
<div class="cart-items" aria-label="Cart items">
  <ul>
    {% for item in section.settings.product_list %}
      <li>
        <img src="{{ item | where: 'image', null | where: 'featured_image', null | image_url: width: 1200 }}" alt="{{ item | where: 'image', null | where: 'featured_image', null | escape }}" class="img-fluid mr-2">
        <h2>{{ item | where: 'image', null | where: 'featured_image', null | t }}</h2>
        <p>{{ item | money }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "Cart Items",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Cart items"
    }
  ],
  "presets": [
    {"name": "Cart Items"}
  ],
  "block_types": {}
}
{% endschema %}