
{% schema %}
{
  "name": "Blog hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Blog image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Blog"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Latest fashion news"
    }
  ],
  "presets": []
}
{% endschema %}

<section class="blog-hero hero" style="--primary-color: #3B3F4E; --background-color: #F2F2F2;">
  <img src="{{ settings.image | img_url }}" alt="{{ settings.heading }}" />
  <h1>{{ settings.heading }}</h1>
  <p>{{ settings.subheading }}</p>
  <button class="call-to-action">Read more</button>
</section>
