
{% schema %}
{
  "name": "Page content",
  "settings": [
    {
      "type": "text_area",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": []
}
{% endschema %}

<section class="page-content">
  <h2>Page Content</h2>
  <p>{{ settings.content }}</p>
</section>
