{% schema %}
{
  "name": "Blog Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Blog image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Blog Name"
    }
  ],
  "presets": [
  ],
  "blocks": [],
  "default_mode": "edit"
}
{% endschema %}

<div class="blog-hero" role="banner" aria-label="Blog hero">
  <img src="{{ settings.image | img_url: 'medium' }}" alt="Blog image" width="100%" height="auto" loading="lazy">
  <h1>{{ settings.heading }}</h1>
</div>