{% schema %}
{
  "name": "Cart Total",
  "settings": [
    {
      "type": "text",
      "id": "total",
      "label": "Total",
      "default": "Subtotal: $0"
    }
  ],
  "presets": [
  ],
  "blocks": [],
  "default_mode": "edit"
}
{% endschema %}

<div class="cart-total" role="contentinfo" aria-label="Cart total">
  <p>{{ settings.total }}</p>
</div>