{% schema %}
{
  'name': 'Footer',
  'settings': [
    {
      'type': 'text',
      'id': 'copyright',
      'label': 'Copyright text',
      'default': 'Copyright 2023 HauteVue'
    },
    {
      'type': 'link_list',
      'id': 'social_links',
      'label': 'Social links'
    }
  ],
  'presets': [
    {
      'default': {
        'copyright': 'Copyright 2023 HauteVue',
        'social_links': []
      }
    }
  ]
}
{% endschema %}

<footer class="footer" style="background-color: #F2F2F2; padding: 10px;">
  <p>&copy; {{ settings.copyright }}</p>
  <ul class="social-links">
    {% for link in settings.social_links %}
      <li><a href="{{ link.url }}"><i class="{{ link.icon }}"></i></a></li>
    {% endfor %}
  </ul>
</footer>