{% schema %}{
  "name": "Blog Post",
  "settings": [
    {
      "type": "blog_post",
      "id": "post",
      "label": "Blog post"
    }
  ],
  "presets": [{"name": "Blog Post"}]
}{% endschema %}

<h2 style="font-family: Montserrat; font-size: 24px; color: #3498db;">{{ section.settings.post.title }}</h2>
<p style="font-family: Lato; font-size: 18px; color: #666; margin-bottom: 20px;">{{ section.settings.post.description }}</p>
<a style="font-family: Montserrat; font-size: 18px; color: #3498db; text-decoration: none;" href="{{ section.settings.post.url }}">Read more</a>