{% schema %}{
  "name": "Blog Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Blog Name"
    }
  ],
  "presets": [{"name": "Blog Hero"}]
}{% endschema %}

<section style="position: relative; display: flex; justify-content: center; align-items: center; background-image: {{ section.settings.image | image_url: width: 1200 | image_tag }}; background-size: cover; background-position: center; height: 70vh; padding: 20px;">
  <h1 style="font-family: Montserrat; font-size: 48px; color: #3498db; text-align: center;">{{ section.settings.heading | escape }}</h1>
</section>