<section class="product-description">
  <div class="description"{{ settings.description | escape | raw }}></div>
  {% if section.blocks.size > 0 %}
    <ul class="specs">
      {% for block in section.blocks %}
        {% if block.type == 'image' %}
          <li><img src="{{ block.settings.image | image_url: width: 400 }}" alt="Product Image" loading="lazy"></li>
        {% elsif block.type == 'spec' %}
          <li>{{ block.settings.spec }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>{% schema %}
{
  "name": "Product Description",
  "settings": [
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": ""
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "spec",
      "name": "Spec",
      "settings": [
        {
          "type": "text",
          "id": "spec",
          "label": "Spec"
        }
      ]
    }
  ],
  "presets": [{"name": "Product Description"}]
}
{% endschema %}