{% schema %}
  name: 'collection_header'
  label: 'Collection Header'
  settings:
    - type: 'text'
      id: 'title'
      label: 'Title'
      default: ''
  section: 'collection-header'
  responsive_notes: 'Hide collection title on mobile, use only image and price'
  {% endschema %}

  <style>
    /* Minimal theme styles */
    .collection-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  </style>

  <div class='collection-header'>
    <h1>{{ settings.title }}</h1>
    {% if collection.image %}
      <img src '{{ collection.image | image_url: width: 800 }}' alt='{{ collection.title }}'>
    {% endif %}
  </div>