{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright",
        "default": "Shipdeck 2023"
      },
      {
        "type": "link_list",
        "id": "social_links",
        "label": "Social links",
        "default": "[]"
      }
    ],
    "presets": [
      {
        "name": "Default Footer"
      }
    ]
  }
  {% endschema %}
  <footer class="bg-gray-100 py-4">
    <div class="container">
      <div class="text-gray-600 text-sm font-montserrat mb-2">{{ page.footer.copyright | escape }}</div>
      <div class="flex items-center justify-between">
        {% for link in page.footer.social_links %}
        <a class="text-gray-600 hover:text-gray-400 transition duration-300 ease-in-out mr-4" href="{{ link.url | escape }}">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 18v-6a9 9 0 0118-9h12a9 9 0 0118 9v6m-18-4v4m18-4v4m0 0h-12"></path></svg>
        </a>
        {% endfor %}
      </div>
    </div>
  </footer>