{% schema %}
  {
    "name": "Page Call to Action",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Get in Touch"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Say hello and we'll get back to you"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "Button label",
        "default": "Contact Us"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "Button URL"
      }
    ],
    "presets": [
      {
        "name": "Default Call to Action"
      }
    ]
  }
  {% endschema %}
  <section class="page-call-to-action bg-gray-100 py-20">
    <div class="container">
      <h2 class="font-bold text-2xl font-montserrat mb-4">{{ page.call_to_action.heading | escape }}</h2>
      <div class="text-lg font-montserrat mb-4">{{ page.call_to_action.subheading | escape }}</div>
      <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{{ page.call_to_action.cta_url | escape }}">{{ page.call_to_action.cta_label | escape }}</a>
    </div>
  </section>