{% schema %}
  {
    "name": "Page Header",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": ""
      }
    ],
    "presets": [
      {
        "name": "Default Header"
      }
    ]
  }
  {% endschema %}
  <section class="page-header bg-gray-100 py-20">
    <div class="container">
      <h1 class="font-bold text-3xl font-montserrat">{{ page.header.title | escape }}</h1>
    </div>
  </section>