{% schema %}
  {
    "name": "Page Content",
    "settings": [
      {
        "type": "text",
        "id": "content",
        "label": "Content",
        "default": ""
      }
    ],
    "presets": [
      {
        "name": "Default Content"
      }
    ]
  }
  {% endschema %}
  <section class="page-content bg-gray-100 py-20">
    <div class="container">
      <div class="text-lg font-montserrat mb-10">{{ page.content.content | escape }}</div>
    </div>
  </section>