{% schema %}
{
  'name': 'Footer',
  'settings': [
    {
      'type': 'text',
      'id': 'copyright',
      'label': 'Copyright text',
      'default': 'Copyright 2023 Shipdeck'
    },
    {
      'type': 'link_list',
      'id': 'social_links',
      'label': 'Social links',
      'default': 'social-links'
    }
  ],
  'presets': [
    {
      'name': 'Footer Section'
    }
  ],
  'default_settings': {
    'copyright': 'Copyright 2023 Shipdeck',
    'social_links': 'social-links'
  }
}
{% endschema %}

<footer class="footer">
  <div class="copyright">
    {{ section.settings.copyright }}
  </div>
  <div class="social-links">
    {% for link in section.settings.social_links.links %}
      <a href="{{ link.url }}" class="social-link">
        <i class="{{ link.icon }}"></i>
      </a>
    {% endfor %}
  </div>
</footer>