{% schema %}
{
  "name": "Call to Action",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Discover Top Picks"
    },
    {
      "type": "link",
      "id": "link",
      "label": "Link"
    }
  ]
}
{% endschema %}

<div class="cta">
  <h2>{{ settings.label | escape }}</h2>
  <a href="{{ settings.link | escape }}" class="btn btn-primary">Discover</a>
</div>