{% schema %}
{
  "name": "Page Call-to-Action",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Get in touch"
    },
    {
      "type": "link",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [{"name": "Page Call-to-Action"}]
}
{% endschema %}

<div class="page-call-to-action">
  <button>{{ settings.label | escape }}</button>
  <a href="{{ settings.link | escape }}">{{ settings.link | escape }}</a>
</div>
