{% schema %}
{
  "name": "Page Content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Content title"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    }
  ],
  "presets": [{"name": "Page Content"}]
}
{% endschema %}

<div class="page-content">
  <h2>{{ settings.title | escape }}</h2>
  <p>{{ settings.content | escape }}</p>
</div>
