<section class="cart-hero" data-section-id="{{ section.id }}">
  <img src="{{ section.settings.image | image_url: width: 1200 | image_tag }}" alt="Cart Hero Image" aria-label="Cart Hero Description">
  {% if section.settings.description %}
    <p>{{ section.settings.description }}</p>
  {% endif %}
</section>{% schema %}
{
  "name": "Cart Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Cart image"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Cart description",
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}{% endschema %}