<!-- Page hero image and description -->
<section aria-label="Page hero image and description" class="page-hero">
  <img src="{{ section.settings.image | image_url: width: 600 | alt: section.settings.description | escape }}" alt="{{ section.settings.description | escape }}">
  <p>{{ section.settings.description | escape }}</p>
</section>

{% schema %}
{
  "name":"page-hero",
  "settings":[
    {
      "type":"image_picker",
      "id":"image",
      "label":"Page image"
    },
    {
      "type":"text",
      "id":"description",
      "label":"Page description",
      "default":""
    }
  ],
  "blocks":[
  ],
  "presets":[
    {
      "name":"Default"
    }
  ],
  "default_settings":{
    "description":""
  }
}
{% endschema %}