<section class="page-content" aria-label="Page content">
  <h2>{{ section.settings.title | escape }}</h2>
  <div class="text-image">
    <img src="{{ section.settings.image | image_url: width: 400 | image_tag }}" alt="{{ section.settings.image | escape }}">
    <p>{{ block.settings.text | escape }}</p>
  </div>
  {% schema %}
  {
    "name": "page-content",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Page content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      }
    ],
    "blocks": [
      {
        "type": "text-block",
        "name": "Text block",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [{"name": "Default"}]
  }
  {% endschema %}
</section>
