<section class="cart-actions">
  <button class="checkout-button" aria-label="{{ 'shopify.checkout' | t }}"><a href="{{ cta_url | escape }}">{{ cta_label | escape }}</a></button>
</section>
{% schema %}
{
  "name": "Cart actions",
  "settings": [
    {
      "type": "text",
      "id": "cta_label",
      "label": "Button label",
      "default": "Checkout"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Cart Actions"
    }
  ],
  "blocks": []
}
{% endschema %}