{% schema %}
{
  "name":"shipping-info",
  "settings":[
    {
      "type":"text",
      "id":"heading",
      "label":"Heading",
      "default":"Sustainable Shipping"
    }
  ],
  "presets":[
    {
      "name":"Default"
    }
  ]
}
{% endschema %}
<section>
  <h2>{{ section.settings.heading | escape }}</h2>
  <p>Our shipping and packaging are designed to be sustainable and eco-friendly.</p>
</section>

<style>
  section {
    text-align: center;
  }
</style>