{% schema %}
  {
    "name": "Author Info",
    "settings": [
      {
        "type": "text",
        "id": "name",
        "label": "Author name",
        "default": "John Doe"
      },
      {
        "type": "text",
        "id": "bio",
        "label": "Author bio",
        "default": "John Doe is a freelance writer"
      }
    ],
    "presets": [
      {
        "name": "Default"
      }
    ]
  }
  {% endschema %}
  <div class="author-info">
    <h2>{{ name | t }}</h2>
    <p>{{ bio | t }}</p>
  </div>