{% schema %}
  {
    "name": "Cart Actions",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Proceed to Checkout"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Don't miss out on our best deals"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "Button label",
        "default": "Checkout"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "Button URL"
      }
    ],
    "presets": [
      {
        "name": "Default"
      }
    ]
  }
  {% endschema %}
  <div class="cart-actions">
    <h2>{{ heading | t }}</h2>
    <p>{{ subheading | t }}</p>
    <a href="{{ cta_url }}" class="button">{{ cta_label | t }}</a>
  </div>