{% schema %}
{
  'name': 'cart-totals',
  'settings': [
    {
      'type': 'price',
      'id': 'subtotal',
      'label': 'Subtotal'
    },
    {
      'type': 'price',
      'id': 'total',
      'label': 'Total'
    },
    {
      'type': 'text',
      'id': 'promo',
      'label': 'Promotion',
      'default': ''
    }
  ],
  'presets': [
    {
      'name': 'Cart Totals'
    }
  ]
}
{% endschema %}
<div class="grid grid--full-width">
  <div class="grid__cell sm--grid__cell--3 large--grid__cell--4">
    <h2>{{ 'Cart Totals' | t }}</h2>
    <p>{{ section.settings.subtotal | money }}</p>
    <p>{{ section.settings.total | money }}</p>
    {% if section.settings.promo != '' %}
      <p>{{ section.settings.promo }}</p>
    {% endif %}
  </div>
</div>
