{% schema %}
{
  'name': 'collection-thumbnail',
  'settings': [
    {
      'type': 'image_picker',
      'id': 'image',
      'label': 'Collection image'
    },
    {
      'type': 'text',
      'id': 'heading',
      'label': 'Heading',
      'default': 'Collection Title'
    },
    {
      'type': 'text',
      'id': 'subheading',
      'label': 'Subheading',
      'default': ''
    }
  ],
  'presets': [
    {
      'name': 'Collection Thumbnail'
    }
  ]
}
{% endschema %}
<div class="flex flex--center flex--wrap">
  <div class="flex__item sm--flex__item--3 large--flex__item--4">
    <div class="image__container" style="background-image: url('{{ section.settings.image | image_url: width: 1200 | image_tag }}');">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.subheading }}</p>
    </div>
  </div>
</div>
