{% schema %}
{
  'name': 'collection-products',
  'settings': [
    {
      'type': 'product_list',
      'id': 'products',
      'label': 'Selected products'
    },
    {
      'type': 'number',
      'id': 'cols',
      'min': 1,
      'max': 4,
      'label': 'Columns',
      'default': 3
    }
  ],
  'presets': [
    {
      'name': 'Collection Products'
    }
  ]
}
{% endschema %}
<div class="grid grid--3 large--grid--4">
  {% for product in section.settings.products %}
    <div class="grid__cell">
      <h3>{{ product.title }}</h3>
      <p>{{ product.price | money }}</p>
    </div>
  {% endfor %}
</div>
