
{% schema %}
{
  "name": "Blog grid",
  "settings": [
    {
      "type": "blog_post_list",
      "id": "posts",
      "label": "Blog posts"
    }
  ],
  "presets": [
    {
      "name": "Default"
    }
  ],
  "blocks": [
    {
      "type": "blog_post",
      "name": "post",
      "settings": [
        {
          "type": "blog_post_picker",
          "id": "post_id",
          "label": "Blog post"
        }
      ]
    }
  ]
}
{% endschema %}

<div class="blog-grid">
  <h2>{{ section.settings.posts | t }}</h2>
  <ul>
    {% for post in section.blocks.post %}
      <li>
        <div class="post">
          <h3>{{ post.settings.post_id | blog_post_title }}</h3>
          <p>{{ post.settings.post_id | blog_post_excerpt }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
