
{% schema %}
{
  "name": "Cart items",
  "settings": [
    {
      "type": "product_list",
      "id": "products",
      "label": "Cart products"
    }
  ],
  "presets": [
    {
      "name": "Default"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
        {
          "type": "product_picker",
          "id": "product_id",
          "label": "Product"
        },
        {
          "type": "quantity_input",
          "id": "quantity",
          "label": "Quantity"
        }
      ]
    }
  ]
}
{% endschema %}

<div class="cart-items">
  <h2>{{ section.settings.products | t }}</h2>
  <ul>
    {% for product in section.blocks.product %}
      <li>
        <div class="product">
          <h3>{{ product.settings.product_id | product_title }}</h3>
          <p>Quantity: {{ product.settings.quantity }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
