<section class="announcement-bar" style="background-color: #f9f9f9; color: #3498db; padding: 1rem; display: flex; justify-content: space-between;"></section>{% schema %}{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Message"
    }
  ],
  "presets": [{
    "name": "Announcement Bar"
  }]
}{% endschema %}