{% schema %}
{
  "name": "Complete order",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Complete order"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Proceed to checkout"
    }
  ],
  "presets": [
    {
      "name": "Complete order"
    }
  ]
}
{% endschema %}

<div role="button" tabindex="0" class="button button--primary" aria-label="{{ settings.heading | escape }}">
  {{ settings.heading | escape }}
  <div role="presentation" class="button__subheading text--xs">{{ settings.subheading | escape }}</div>
</div>

<!-- Responsive notes: Center CTA on mobile -->
