
{% schema %}
{
  "name": "Collection Call to Action",
  "settings": [
    {
      "type": "url",
      "id": "view_all_url",
      "label": "View all URL"
    }
  ],
  "presets": [
    {
      "name": "Default"
    }
  ]
}
{% endschema %}

<div class="collection-call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{ settings.view_all_url }}" class="btn btn-primary">View All</a>
      </div>
    </div>
  </div>
</div>
