{% schema %}
{
  "name": "Product Info",
  "settings": [
    {
      "type": "text",
      "id": "price",
      "label": "Price",
      "default": "$0.00"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": ""
    }
  ],
  "presets": [{"name": "Product Info"}]
}
{% endschema %}
<div class="product-info-container">
  <h2>{{ section.settings.price }}</h2>
  <p>{{ section.settings.description }}</p>
</div>