<section class="blog-filter" aria-label="Blog filter options">
  <div class="filter-list">
    <ul>
      <li>
        <button class="button--filter" type="button" data-filter="all-posts"{% if settings.filters == "all-posts" %} aria-current="true"{% endif %}>{% t 'All posts' %}</button>
      </li>
      <li>
        <button class="button--filter" type="button" data-filter="category-1"{% if settings.filters == "category-1" %} aria-current="true"{% endif %}>{% t 'Category 1' %}</button>
      </li>
      <li>
        <button class="button--filter" type="button" data-filter="category-2"{% if settings.filters == "category-2" %} aria-current="true"{% endif %}>{% t 'Category 2' %}</button>
      </li>
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Blog Filter",
  "settings": [
    {
      "type": "filter_list",
      "id": "filters",
      "label": "Filters",
      "default": "all-posts"
    }
  ],
  "presets": [
    {
      "name": "Blog Filter"
    }
  ]
}
{% endschema %}