{% schema %}
{
  "name": "collection-filter",
  "settings": [
    {
      "type": "filter_list",
      "id": "filters",
      "label": "Filters",
      "default": "all-products"
    }
  ],
  "presets": [
    {
      "name": "Default"
    }
  ],
  "block_types": [],
  "sections": [],
  "context": [],
  "settings": []
}
{% endschema %}
<div class="collection-filter">
  <div class="filters">
    {{ 'collection.filter.filter_list' | t }}: {{ section.settings.filters | escape }}
  </div>
</div>

<!-- responsive-notes: Collapse on mobile -->


