    {% for product in section.settings.products %}
      <div class="product-grid-item" style="background-image:url('{{ product.image | image_url: width: 400 }}');">
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | money }}</p>
      </div>
    {% endfor %}
  </div>
  <p>{{ section.blocks.product-grid.settings.columns }} columns</p>
</section>
{% schema %}
{
  "name":"collection-grid",
  "settings":[
    {
      "type":"product_list",
      "id":"products",
      "label":"Products",
      "default":"new-products"
    }
  ],
  "blocks":[
    {
      "type":"product-grid",
      "name":"product-grid",
      "settings":[
        {
          "type":"range",
          "id":"columns",
          "min":1,
          "max":4,
          "step":1,
          "unit":"columns",
          "label":"Columns",
          "default":3
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Collection Grid"
    }
  ]
}
{% endschema %}