{% schema %}
{
  'name': 'product-reviews',
  'settings': [
    {
      'type': 'rating',
      'id': 'rating',
      'label': 'Rating'
    }
  ],
  'presets': [
    {
      'name': 'Product Reviews'
    }
  ],
  'sections': [
  ],
  'default': 'default'
}{% endschema %}
<div class="container mx-auto p-4 mt-6 lg:mt-12 text-gray-800">
  <div class="flex flex-wrap -mx-4 mb-12">
    <div class="w-full xl:w-8/12 px-4">
      <div class="font-sans text-lg font-bold mb-4 text-primary">
        <h2>{{ product.title | escape }}</h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        {% for review in product.reviews %}
          <div class="bg-white p-4 rounded shadow-md">
            <div class="flex items-center mb-4">
              <div class="w-10 h-10 rounded-full bg-gray-300 overflow-hidden">
                {% image review.customer.image alt: review.customer.name | image_url: width: 80 | image_tag %}
              </div>
              <div class="ml-4">
                <h3>{{ review.customer.name | escape }}</h3>
                <p>{{ review.rating }} out of 5</p>
              </div>
            </div>
            <p>{{ review.body | escape }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>