{% schema %}
{
  "name": "Collection Header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection Title"
    },
    {
      "type": "link_list",
      "id": "filters",
      "label": "Filters",
      "default": "size, color"
    }
  ],
  "presets": [
    {
      "name": "Collection Header"
    }
  ]
}
{% endschema %}

<div class="collection-header">
  <h1>{{ section.settings.title | escape }}</h1>
  <ul>
    {% for filter in section.settings.filters %}
      <li>
        {{ filter | t }}
      </li>
    {% endfor %}
  </ul>
</div>