{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "social_links",
      "label": "Social links",
      "default": "Facebook, Twitter, Instagram"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright information",
      "default": "Apexio 2023"
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}

<footer class="footer">
  <ul>
    {{ link_list_tag('social_links', 'link_list', section.settings.social_links) }}
  </ul>
  <p>{{ section.settings.copyright | escape }}</p>
</footer>