{% schema %}
{
  "name": "Blog Grid",
  "settings": [
    {
      "type": "post_list",
      "id": "posts",
      "label": "Blog posts",
      "default": "latest"
    }
  ],
  "presets": [{ "name": "Blog Grid" }]
}
{% endschema %}

<div class="blog-grid" role="region" aria-label="Blog grid">
  <div class="container">
    <div class="row">
      {% for post in section.settings.posts %}
        <div class="col-md-4">
          <article>
            <h2>{{ post.title | escape }}</h2>
            <time>{{ post.date | date: '%B %d, %Y' }}</time>
            <p>{{ post.excerpt | escape }}</p>
            <a href="{{ post.url }}">Read more <i class="fas fa-arrow-right"></i></a>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
