{% comment %}Collection Pagination{% endcomment %}

<div class="collection-pagination">
  <div class="pagination">
    <ul>
      <li>
        <span aria-label="Page {{ section.settings.current_page }} of {{ section.settings.total_pages }}" class="page-info">{{ section.settings.current_page }} of {{ section.settings.total_pages }}</span>
      </li>
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Collection Pagination",
  "settings": [
    {
      "type": "integer",
      "id": "current_page",
      "label": "Current page"
    },
    {
      "type": "integer",
      "id": "total_pages",
      "label": "Total pages"
    }
  ],
  "presets": [
    {
      "name": "Default"
    }
  ]
}
{% endschema %}