{% schema %}
{
  "name": "Product Description",
  "settings": [
    {
      "type": "text",
      "id": "description",
      "label": "Product description",
      "default": "{product.description}"
    }
  ],
  "presets": [{"name": "Product Description"}]
}
{% endschema %}
<p>{{ section.settings.description | escape }}</p>
<hr>
<div class="rating">
  {% for review in product.reviews %}
    {{ review.name }} - {{ review.title }}
  {% endfor %}
</div>