{% schema %}
{
  'name': 'collection_hero',
  'settings': [
    {
      'type': 'image_picker',
      'id': 'image',
      'label': 'Collection image'
    }
  ],
  'presets': [
    {
      'name': 'Default',
      'settings': {
        'image': "image.jpg"
      }
    }
  ]
}
{% endschema %}
<div class="bg-cover bg-center bg-image {{ settings.image | img_url: 'master' }} h-screen w-full object-cover">
  {% if collection.title %}
    <h1 class="text-4xl text-center pt-12 pb-4 text-white">{{ collection.title }}</h1>
  {% endif %}
</div>