{% schema %}
{
  'name': 'page-content',
  'settings': [
    {
      'type': 'text',
      'id': 'title',
      'label': 'Title'
    },
    {
      'type': 'textarea',
      'id': 'content',
      'label': 'Content'
    }
  ],
  'presets': []
}
{% endschema %}
<section class="page-content" style="--primary-color: #8B9467;">
  <div class="container">
    <h1>{{ settings.title }}</h1>
    <div>{{ settings.content | escape }}</div>
  </div>
</section>
