{% schema %}
{
  'name': 'Collection Pagination',
  'settings': [],
  'presets': [],
  'sections': []
}
{% endschema %}
<div class="collection-pagination">
  {% if collection.has_more_products %}
    <a href="{{ collection.next_page | page_link }}" class="btn">Next page</a>
  {% endif %}
</div>