{"% schema %}
{
  "name": "Page Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Page image"
    },
    {
      "type": "text",
      "id": "name",
      "label": "Page name",
      "default": "Page Name"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Page description",
      "default": "Page description"
    }
  ],
  "presets": []
}
{% endschema %}
<section class="page-hero" role="region" aria-label="Page hero">
  <div class="wrap">
    <img src="{{ settings.image | img_url: 'master' }}" alt="{{ settings.name | escape }}">
    <h1>{{ settings.name }}</h1>
    <p>{{ settings.description }}</p>
  </div>
</section>
