{"% schema %}
{
  "name": "Page Content",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": "Page content"
    }
  ],
  "presets": []
}
{% endschema %}
<div class="page-content" role="region" aria-label="Page content">
  <div class="wrap">
    {{ settings.content | rich_text | escape }}
  </div>
</div>
