{"% schema %}
{
  "name": "Page Call-to-Action",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Get in Touch"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Contact us for more information"
    }
  ],
  "presets": []
}
{% endschema %}
<div class="page-call-to-action" role="region" aria-label="Page call-to-action">
  <div class="wrap">
    <h2>{{ settings.heading }}</h2>
    <p>{{ settings.subheading }}</p>
  </div>
</div>
