{% schema %}
{
  'name': 'page-hero',
  'settings': [
    {
      'type': 'image_picker',
      'id': 'image',
      'label': 'Background image'
    },
    {
      'type': 'text',
      'id': 'title',
      'label': 'Title'
    },
    {
      'type': 'text',
      'id': 'description',
      'label': 'Description'
    }
  ],
  'presets': [
    {
      'name': 'default',
      'settings': {
        'image': null,
        'title': 'Page Hero',
        'description': 'This is a page hero section'
      }
    }
  ]
}
{% endschema %}

<div class="hero-banner" style="background-image: url('{{ settings.image | img_url }}'); background-position: center;">
  <div class="container">
    <h1>{{ settings.title | escape }}</h1>
    <p>{{ settings.description | escape }}</p>
  </div>
</div>