<section class="product-hero" role="region" aria-label="Product hero">
  <div class="container">
    <div class="image" style="background-image: url('{{ settings.image | img_url: 'master' }}');"></div>
    <h1>{{ settings.title }}</h1>
    <p>{{ settings.price | money }}</p>
  </div>
{% schema %}
{
  "name": "product-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "price",
      "label": "Price"
    }
  ],
  "presets": []
}
{% endschema %}
</section>
