{% schema %}
{
  'name': 'blog-call-to-action'
}
{
  'settings': [
    {
      'type': 'text',
      'id': 'label',
      'label': 'Button label',
      'default': 'Read more'
    },
    {
      'type': 'url',
      'id': 'url',
      'label': 'Button URL'
    }
  ]
}
{
  'presets': [
    {
      'name': 'default',
      'settings': {
        'label': 'Read more',
        'url': '/blog'
      }
    }
  ]
}
<button class="blog-call-to-action" aria-label="{{ settings.label | escape }}">
  <a href="{{ settings.url | escape }}">{{ settings.label | escape }}</a>
</button>
{% schema %}{% endschema %}