<section class="collection-hero" style="--primary-color: #3B3F4E; --bg-color: #F2F2F2;" role="region" aria-label="Collection hero">
  <img src="{{ settings.image | img_url: 'medium' }}" style="width: 100%; height: 100vh; object-fit: cover;" alt="Hero image">
  <div class="collection-hero-container">
    <h1>{{ settings.title }}</h1>
    <p>{{ settings.description }}</p>
  </div>
  {% schema %}
  {
    "name": "collection-hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Hero image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Collection title"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Collection description"
      }
    ],
    "presets": []
  }
  {% endschema %}
</section>

<style>
  @media only screen and (max-width: 768px) {
    .collection-hero {
      height: 50vh;
    }
  }
</style>