
  <section class="newsletter-subscription">
    <div class="container">
      <h2>{{ settings.heading }}</h2>
      <p>{{ settings.subheading }}</p>
      <form action="/subscribe" method="post">
        <input type="hidden" name="form_type" value="subscribe">
        <input type="hidden" name="form_id" value="{{ form_id }}">
        <input type="email" name="email" placeholder="Email Address">
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </section>
  {% schema %}
  {
    "name": "newsletter-subscription",
    "settings":
      [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Stay up to date with the latest news"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Sign up for our newsletter to receive exclusive offers and promotions"
        }
      ],
    "presets": []
  }
  {% endschema %}
  