
  <section class="product-hero">
    <div class="container">
      <div class="product-hero-image" style="background-image: url('{{ settings.image | img_url }}')">
        <h1>{{ settings.title }}</h1>
        <p>{{ settings.description }}</p>
        <p>{{ settings.price | money }}</p>
      </div>
    </div>
  </section>
  {% schema %}
  {
    "name": "product-hero",
    "settings":
      [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Hero image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Product title"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Product price"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Product description"
        }
      ],
    "presets": []
  }
  {% endschema %}
  