<section id="product-description" class="container mx-auto px-4 py-4">
    <h2 class="font-montserrat text-3xl leading-tight">Product Description</h2>
    <p class="font-lato text-lg pb-4">{{ settings.description }}</p>
  </section>{% schema %}{% schema-setting id="description" type="text" label="Description" default="" %}{% endschema %}