{% schema %}
{
  "name": "Product Reviews",
  "settings": [
    {
      "type": "rating",
      "id": "rating",
      "label": "Rating"
    }
  ],
  "presets": []
}
{% endschema %}
<div>
  <div class="rating" style="color: #3498db;">
    <span class="fa fa-star" aria-hidden="true"></span>
    <span class="fa fa-star" aria-hidden="true"></span>
    <span class="fa fa-star" aria-hidden="true"></span>
    <span class="fa fa-star" aria-hidden="true"></span>
    <span class="fa fa-star" aria-hidden="true"></span>
  </div>
  <ul>
    {% for review in product.reviews %}
      <li>
        <div>
          {{ review.name }}
        </div>
        <div>
          <div>
            {{ review.content | escape }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>