<section class="page-hero" role="region" aria-label="Page Hero">
  <img class="page-hero__image" src="{{ settings.image | img_url: 'master' }}" alt="{{ settings.heading }}">
  <h1 class="page-hero__heading" id="page-hero-heading">{{ settings.heading }}</h1>
</section>

{% schema %}
{
  "name": "page-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Page image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Page name",
      "default": "Page name"
    }
  ],
  "presets": []
}
{% endschema %}