{% schema %}
  {
    "name": "Product Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Product image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Product name",
        "default": "Product name"
      },
      {
        "type": "price",
        "id": "price",
        "label": "Price",
        "default": "Price"
      }
    ],
    "presets": [
      [
        {
          "setting": [
            "image",
            "heading",
            "price"
          ],
          "default": [
            "{{ 'product-hero-background-image.jpg' | img_url }}",
            "Product name",
            "$9.99"
          ]
        }
      ]
    ]
  }
  {% endschema %}
  <section class="product-hero" style="background-image: url('{{ settings.image | img_url }}');">
    <div class="container">
      <h1>{{ settings.heading | escape }}</h1>
      <p>{{ settings.price | money }}</p>
    </div>
  </section>